[submodule "libopencm3"]
    path = libs/libopencm3
    url = https://github.com/libopencm3/libopencm3.git
[submodule "libs/embedded-i2c-sen5x"]
	path = libs/embedded-i2c-sen5x
	url = https://github.com/Sensirion/embedded-i2c-sen5x.git
