:root {
  --osmlight: #53aa00;
  --white: #ffffff;
  --black: #000000;
  --osmdark: #0f8353;
}

button {
  color: var(--white);
  background-color: var(--osmlight);
  border-radius: 10%;
  border-color: var(--white);
  font-size: medium;
  padding: 0.5em;
}

button:hover {
  background-color: var(--osmdark);
}




/* Navigation Bar */

.topnav {
  background-color: var(--osmlight);
  overflow: hidden;
  height: 80px;
}

.topnav a {
  float: left;
  display: block;
  color: var(--white);
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  text-align: center;
}

.topnav img {
  float: right;
  display: block;
  height: 100%;
}

.topnav a:hover {
  background-color: var(--white);
  color: var(--black);
}

.topnav a.active {
  background-color: var(--osmdark);
  color: var(--white);
}

.nav-links {
  display: flex;
}

.nav-links li{
  width: 100px;
}



/* Home Page */

.home-page-div {
  display: flex;
  justify-content: space-between;
}

.home-edit-uplink-field {
  margin          : 2em 0.5em;
}

.home-edit-uplink-field input {
  border-style: solid;
  color: var(--black);
  border-color: var(--osmdark);
}

.home-edit-uplink-field div {
  display: flex;
}

.home-serial-firmware-config-div {
  text-align: left;
  position: fixed;
  margin: 0em 0.5em;
  bottom: 0;
  left: 0;
}

.global-load-save-config-buttons {
  text-align: center;
  margin: 0.8em;
  position: fixed;
  bottom: 0;
  right: 0;
}

.global-fieldset {
  border: none;
}


/* Measurements Table */

.measurements-table {
  display: grid;
  overflow:auto;

}

.measurements-table table {
  border-collapse : collapse;
  margin          : 2em 0.5em;
}

.measurements-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.measurements-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.meas-table-inputs {
  border: none;
  text-align: center;
  width: 100%;
}


/* LoRaWAN Configuration Table */

.lora-config-table table {
  float: right;
  display: block;
  border-collapse : collapse;
  margin          : 2em 0.5em;
  float: right;
}

.lora-config-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.lora-config-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.lora-config-table .buttons {
  text-align: center;
  align-items: first baseline;
  padding-top: 2em;
}





/* WiFi Configuration Table */

.wifi-config-table table {
  float: right;
  display: block;
  border-collapse : collapse;
  margin          : 2em 0.5em;
  float: right;
}

.wifi-config-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.wifi-config-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}


/* Modbus */

.modbus-tab-widgets {
  display: grid;
}

/* Modbus Config Table */

.modbus-template-table-top-level {
  margin: 2em 0.5em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.modbus-template-config table {
  border-collapse : collapse;
  width: 500px;
  height: 300px;

}

.modbus-template-config thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-template-config td {
  border     : 1px solid var(--osmdark);
  text-align : center;
  padding: 0;
}




/* Modbus Current Settings */

.modbus-current-config-top-level {
  margin          : 2em 0.5em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.modbus-current-config table {
  border-collapse : collapse;
  width: 500px;
  height: 300px;

}

.modbus-current-config thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-current-config td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}




/* Modbus Add New Template Table */

.modbus-add-new-template-div {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

}

.modbus-add-new-template-div table {
  border-collapse : collapse;
  width: 500px;
  height: 200px;

}

.modbus-add-new-template-div thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-add-new-template-div td {
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.modbus-add-new-template-div input {
  text-align: center;
  border: none;
  width: 90%;
}



/* Console Tab */

.console-grid-container {
  display: grid;
  gap: 50px;
}

.console-cmd-field {
  margin-top: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.console-cmd-field input {
  width: 500px;
  padding: 0.5em;

}

.console-help {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.console-terminal {
  background-color: var(--black);
  color: var(--osmlight);
  height: 500px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow:auto;

}

.console-terminal-para {
  white-space: pre-wrap;
}

.help-container {
  white-space: pre-wrap;
}


/* Modbus Template Table */

.selected-cell {
  background-color: var(--osmdark);
  color: var(--white)
}

.modbus-template-config-table-reg-field {
  white-space: pre-wrap;
}
