:root {
  --osmlight: #53aa00;
  --white: #ffffff;
  --black: #000000;
  --osmdark: #0f8353;
}

button {
  color: var(--white);
  background-color: var(--osmlight);
  border-radius: 10%;
  border-color: var(--white);
  font-size: medium;
  padding: 0.5em;
}

button:hover {
  background-color: var(--osmdark);
  cursor: pointer;
}

.error-div {
  color: red;
}


/* Title Page */

.title-page {
  display: flex;
  justify-content: center;
}

.main-page-title {
  display: flex;
  justify-content: center;
}

.gui-img {
  position: fixed;
  width: 1500px;
}


/* Navigation Bar */

.topnav {
  background-color: var(--osmlight);
  overflow: hidden;
  height: 50px;
  border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: var(--white);
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  text-align: center;
}

.nav-img a img {
  width: 100px;
  position: fixed;
  float: right;
  top: 0;
  right: 0;

}

.topnav a:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.topnav a.active {
  background-color: var(--osmdark);
  color: var(--white);
}

.nav-links {
  display: flex;
}

.nav-links li{
  width: 100px;
}



/* Home Page */

.home-page-div {
  display: grid;
}

.home-edit-uplink-field {
  margin          : 2em 0.5em;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.home-edit-uplink-field input {
  border-style: solid;
  color: var(--black);
  border-color: var(--osmdark);
}

.home-edit-uplink-field div {
  display: flex;
}

.home-serial-firmware-config-div {
  text-align: left;
  position: fixed;
  margin: 0em 0.5em;
  bottom: 0;
  left: 0;
}

.monitor-img {
  margin-top: 2em;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 0;
  grid-row-end: 1;
}

.global-load-save-config-buttons {
  text-align: center;
  margin-top: 1.5em;
  margin-right: 6.5em;
  position: fixed;
  right: 0;
  top: 0;
}

.global-load-save-config-buttons button {
  background-color: var(--white);
  color: var(--osmdark);
  padding: 0.3em;
  margin-right: 0.3em;
}

.global-load-save-config-buttons button:hover {
  background-color: var(--osmdark);
  color: var(--white);
}

.global-fieldset {
  border: none;
}


/* Measurements Table */

.measurements-table {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 0;
  grid-row-end: 1;
  overflow:auto;
  height: 500px;
  width: 600px;
  margin-top: 2em;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--osmdark);
}

.measurements-table table {
  border-collapse : collapse;
}

.measurements-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.measurements-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.meas-table-inputs {
  border: none;
  text-align: center;
  width: 100%;
}


/* LoRaWAN Configuration Table */

.lora-config-table {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 1;
}

.lora-config-table table {
  border-collapse : collapse;
  margin          : 2em 0.5em;
}

.lora-config-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.lora-config-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.lora-config-table .buttons {
  padding-top: 2em;
}





/* WiFi Configuration Table */

.wifi-config-table {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 1;
}


.wifi-config-table table {
  border-collapse : collapse;
  margin          : 2em 0.5em;
}

.wifi-config-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.wifi-config-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}


/* Modbus Config Table */


.modbus-template-config table {
  border-collapse : collapse;
  width: 500px;
  height: 300px;

}

/* Modbus Current Settings */


.modbus-current-config {
  height: 300px;
  overflow:auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.modbus-current-config table {
  border-collapse : collapse;
  width: 480px;
}

.modbus-current-config thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-current-config td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}



/* Modbus Add New Template Table */

.modbus-add-new-template-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.modbus-add-new-template-div table {
  border-collapse : collapse;
  width: 500px;
  height: 200px;

}

.modbus-add-new-template-div thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-add-new-template-div td {
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.modbus-add-new-template-div input {
  text-align: center;
  border: none;
  width: 90%;
}


.modbus-template-config thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-template-config td {
  border     : 1px solid var(--osmdark);
  text-align : center;
  padding: 0;
}

/* Modbus Template Table */

.modbus-template-config {
  display: flex;
  justify-content: center;
}

.selected-cell {
  background-color: var(--osmdark);
  color: var(--white)
}

.modbus-template-config-table-reg-field {
  white-space: pre-wrap;
}


/* Current Clamp Configuration */


.current-clamp-table table {
  border-collapse : collapse;
  width: 500px;
  height: 300px;


}

.current-clamp-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.current-clamp-table td {
  border     : 1px solid var(--osmdark);
  text-align : center;
}


/* IO Configuration */

.io-table table {
  border-collapse : collapse;
  width: 500px;
  height: 300px;

}

.io-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.io-table td {
  border     : 1px solid var(--osmdark);
  text-align : center;
}


/* 4-20mA Configuration */

.ftma-div {
  margin-top: 50px;
}

.ftma-table table {
  border-collapse : collapse;
  width: 500px;
  height: 300px;

}

.ftma-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.ftma-table td {
  border     : 1px solid var(--osmdark);
  text-align : center;
}


/* Console Tab */

.console-grid-container {
  display: grid;
  gap: 50px 0px;
  margin-top: 50px;
}

.console-cmd-field {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.console-cmd-field input {
  width: 500px;
  padding: 0.5em;
}

.console-help {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.console-terminal {
  background-color: var(--black);
  color: var(--osmlight);
  height: 500px;
  width:1000px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow:auto;

}

.console-terminal-para {
  white-space: pre-wrap;
}

.help-container {
  white-space: pre-wrap;
  overflow: auto;
  height: 500px;
}


/* Advanced Config Tab */

.adv-conf-dropdowns {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(3, 100px);
  width: 100%;
  text-align: center;
}

.adv-conf-dropdowns label {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-template-table-top-level{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.modbus-current-config-top-level {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.modbus-add-new-template-div {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.current-clamp-overview {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.current-clamp-div {
  display: flex;
  justify-content: center;
}


.io-div {
  display: flex;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

