:root {
  --osmlight: #53aa00;
  --white: #ffffff;
  --black: #000000;
  --osmdark: #0f8353;
}

button {
  color: var(--white);
  background-color: var(--osmlight);
  border-radius: 10%;
  border-color: var(--white);
  font-size: medium;
  padding: 0.5em;
}

button:hover {
  background-color: var(--osmdark);
}




/* Navigation Bar */

.topnav {
  background-color: var(--osmlight);
  overflow: hidden;
  height: 80px;
}

.topnav a {
  float: left;
  display: block;
  color: var(--white);
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  text-align: center;
}

.topnav img {
  float: right;
  display: block;
  height: 100%;
}

.topnav a:hover {
  background-color: var(--white);
  color: var(--black);
}

.topnav a.active {
  background-color: var(--osmdark);
  color: var(--white);
}

.nav-links {
  display: flex;
}

.nav-links li{
  width: 100px;
}



/* Home Page */

.home-page-div {
  display: flex;
  justify-content: space-between;
}

.home-edit-uplink-field {
  margin          : 2em 0.5em;
}

.home-edit-uplink-field input {
  border-style: solid;
  color: var(--black);
  border-color: var(--osmdark);
}

.home-edit-uplink-field div {
  display: flex;
}

.home-serial-firmware-config-div {
  text-align: left;
  position: fixed;
  margin: 0em 0.5em;
  bottom: 0;
  left: 0;
}

.home-load-save-config-buttons {
  text-align: center;
  margin: 0.8em;
  position: fixed;
  bottom: 0;
  right: 0;
}

.home-page-fieldset {
  border: none;
}


/* Measurements Table */

.measurements-table table {
  border-collapse : collapse;
  margin          : 2em 0.5em;
}

.measurements-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.measurements-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.meas-table-inputs {
  border: none;
  text-align: center;
  width: 100%;
}


/* LoRaWAN Configuration Table */

.lora-config-table table {
  float: right;
  display: block;
  border-collapse : collapse;
  margin          : 2em 0.5em;
  float: right;
}

.lora-config-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.lora-config-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}

.lora-config-table .buttons {
  text-align: center;
  align-items: first baseline;
  padding-top: 2em;
}





/* WiFi Configuration Table */

.wifi-config-table table {
  float: right;
  display: block;
  border-collapse : collapse;
  margin          : 2em 0.5em;
  float: right;
}

.wifi-config-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.wifi-config-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}




/* Modbus Config Table */

.modbus-config-table table {
  border-collapse : collapse;
  margin          : 2em 0.5em;
}

.modbus-config-table thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-config-table td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}



/* Modbus Current Settings */

.modbus-current-config table {
  border-collapse : collapse;
  margin          : 2em 0.5em;
}

.modbus-current-config thead {
  background-color : var(--osmlight);
  font-weight      : bold;
  color: var(--white);
}

.modbus-current-config td {
  padding    : .2em .8em;
  border     : 1px solid var(--osmdark);
  text-align : center;
}





/* help for terminal */
.console-help {
  margin: 8px;
  top: auto;
  font-size: x-small;
}
